{% extends '@E01/base.html.twig' %}

{% block content %}

    <h1>- Cheat Sheets -</h1>

    {% for cat in categories %}
    {{ cat }}:
        <a href="{{ app.request.uri }}{{ cat }}">{{ cat }}</a></br>
    {% endfor %}

{% endblock %}
