<html>
    
    <head>
    </head>
    
    <body>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
        </br>Last message: {{ lastMessage }}
    </body>

</html>