{% extends 'base.html.twig' %}

{% block body %}

  <a href="{{ path('ex09_default_index')}}">Home</a></br>
  <a href="{{ path('ex09_default_createtables')}}">1. Create tables Person/BankAccount/Address</a></br>
  <a href="{{ path('ex09_default_linktables')}}">2. Link tables</a></br>

  {% if msg %}
    <br/><b>{{ msg }}</b></br>
  {% endif %}

{% endblock %}