<html>

    <head>
        <style>
        .cred { background:rgb(255, 0, 0); height:40px; width: 80px; }
        </style>
    </head>

    <body>

        {% for color in colors %}
            {{ color }}
        {% endfor %}

        <table>
            <tr>
                <td class="cred">&nbsp;</td>
            </tr>
        </table>

    </body>

</html>