{% extends 'base.html.twig' %}

{% block body %}

  <a href="{{ path('ex08_default_index')}}">Home</a></br>
  <a href="{{ path('ex08_default_createtablepersons')}}">1. Create table 'persons'</a></br>
  <a href="{{ path('ex08_default_addmaritalcolumn')}}">2. Add 'marital_status' column to 'persons'</a></br>
  <a href="{{ path('ex08_default_createtablebankaccounts')}}">3. Create table 'bank_accounts'</a></br>
  <a href="{{ path('ex08_default_createtableaddresses')}}">4. Create table 'addresses'</a></br>
  <a href="{{ path('ex08_default_linkbankaccountstopersons')}}">5. Link 1to1 'bank_accounts' to 'persons'</a></br>
  <a href="{{ path('ex08_default_linkaddressestopersons')}}">6. Link 1to+ 'addresses' to 'persons'</a></br>

  {% if msg %}
    <br/><b>{{ msg }}</b></br>
  {% endif %}

{% endblock %}
