body
{ 
  width:70%;
  margin-left:auto;
  margin-right:auto;
  font-family: 'Fjalla One', Prompt, Rubik;
}

.header_barcontainer
{
  background-color: #33ccff;
  height: 50px;
  color: white;
  box-shadow: 10px 10px 5px #888888;
  margin-bottom: 20px;
}

.header_barcontainer form
{
  display: inline;
}

.header_barcontainer input
{
  margin-top: 2.5px;
  background-color: #33ccff;
  color: white;
  height: 45px;
  width: 130px;
  font-size: large;
  border: 10px;
  border-color: white;
}

.header_barcontainer input:hover
{
  color: #33ccff;
  background-color: white;
}

.header_barcontainer_left
{
  text-align: left;
  float: left;
  margin-left: 25px;
  margin-top: 6px;
  font-size: xx-large;
}

.header_barcontainer_right
{
  text-align: right;
  float: right;
  margin-right: 2.5px;
}

.misc_errMsg
{
  color: red;
  font-weight: bold;
  text-align: center;
}

.misc_centertextblue
{
  text-align: center;
  color: #33ccff;
  font-weight: bolder;
}

.misc_centertextred
{
  text-align: center;
  color: red;
  font-weight: bolder;
}
