{% extends 'base.html.twig' %}

{% block body %}
    <a href="{{ path('ex02_default_index')}}">Back to insert</a></br></br>
    <table>
        <tr>
            <th>id</th>
            <th>username</th>
            <th>name</th>
            <th>email</th>
            <th>enable</th>
            <th>birthdate</th>
            <th>address</th>
        </tr>
    {% for r in ret %}
        <tr>
            <td>{{ r['id'] }}</td>
            <td>{{ r['username'] }}</td>
            <td>{{ r['name'] }}</td>
            <td>{{ r['email'] }}</td>
            <td>{{ r['enable'] }}</td>
            <td>{{ r['birthdate'] }}</td>
            <td>{{ r['address'] }}</td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}