{% extends 'base.html.twig' %}

{% block body %}
    <a href="{{ path('ex02_default_display')}}">Display content</a></br></br>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
    {% if msg != NULL %} </br><b> {{ msg }} </b></br> {% endif %}
{% endblock %}