{% extends 'base.html.twig' %}

{% block title %}End{% endblock %}

{% block body %}

    {% if app.session.get('end') == 'win' %}
        <h1>Congratulation {{ app.session.get('username') }}, you won the game</h1></br>
    {% else %}
        <h1>Sorry {{ app.session.get('username') }}, you lost the game</h1></br>
    {% endif %}

    <a href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}/../../options">Go to options</a></br>
{% endblock %}

