{% extends 'base.html.twig' %}

{% block title %}Fight{% endblock %}

{% block body %}

    {# infos moviemon #}
        <img src="{{ app.session.get('moviesRemaining')[app.session.get('fightMoviemonId')]}}" height="200" width="200">
        </br>
        <b>MOVIEMON: </b>{{ app.session.get('fightMoviemonId') }} - {{ app.session.get('fightMoviemonHp') }}hp - {{ app.session.get('fightMoviemonPower') }} power</br></br>

    {# infos player #}
        <b>PLAYER: </b>{{ app.session.get('fightPlayerHp') }}hp - {{ app.session.get('fightPlayerPower') }}power</br>

    {# actions  #}
        {% if app.session.get('fightTurn') == 2 %}
            <h3>MOVIEMON TURN</h3>
        {% else %}
            <h3>PLAYER TURN</h3>
            <a href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}attack">Attack</a></br>
        {% endif %}
        <a href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}nextturn">Next turn</a></br>
        <a href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}runaway">Run away from fight...</a></br>

{% endblock %}