{% extends 'base.html.twig' %}

{#{% block title %}
{% endblock %}#}

{#{% block stylesheets %}
<style>
    #welcome { display: block; font-size: 75%; }
</style>
{% endblock %}#}

{# {% block body %}
{% endblock %} #}

