{% extends 'base.html.twig' %}

{% block title %}Map{% endblock %}

{% block stylesheets %}
<style>
    .text-block {
    position: absolute;
    top: {{ (app.session.get('pos') % 10) * 200 - 200 + 90 }}px;
    left: {{ (app.session.get('pos') / 10 - (app.session.get('pos') % 10 / 10)) * 200 -200 + 40 }}px;
    background-color: red;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    }
</style>
{% endblock %}

{% block body %}
<b>User:</b> {{ app.session.get('username') }}</br>
<b>Owned:</b> {{ app.session.get('moviesOwned') }} / 10</br>
<a href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}/../../options">Go to options</a></br>
<a href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}/../../fight">FIGHT !!!!!</a></br>
</br>
<div style="position:relative;">
    <img src="{{asset('assets/map.jpg')}}" usemap="#worldmap"></img>
    <div class="text-block">You are here</div>
    <map name="worldmap">
        {% if app.session.get('pos') != 11 %}
            <area shape="rect" coords="0,0,200,200" href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}11">
        {% endif %}
        {% if app.session.get('pos') != 21 %}
            <area shape="rect" coords="200,0,400,200" href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}21">
        {% endif %}
        {% if app.session.get('pos') != 31 %}
            <area shape="rect" coords="400,0,600,200" href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}31">
        {% endif %}
        {% if app.session.get('pos') != 41 %}
            <area shape="rect" coords="600,0,800,200" href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}41">
        {% endif %}
        {% if app.session.get('pos') != 51 %}
            <area shape="rect" coords="800,0,1000,200" href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}51">
        {% endif %}
        {% if app.session.get('pos') != 12 %}
            <area shape="rect" coords="0,200,200,400" href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}12">
        {% endif %}
        {% if app.session.get('pos') != 22 %}
            <area shape="rect" coords="200,200,400,400" href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}22">
        {% endif %}
        {% if app.session.get('pos') != 32 %}
            <area shape="rect" coords="400,200,600,400" href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}32">
        {% endif %}
        {% if app.session.get('pos') != 42 %}
            <area shape="rect" coords="600,200,800,400" href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}42">
        {% endif %}
        {% if app.session.get('pos') != 52 %}
            <area shape="rect" coords="800,200,1000,400" href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}52">
        {% endif %}
        {% if app.session.get('pos') != 13 %}
            <area shape="rect" coords="0,400,200,600" href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}13">
        {% endif %}
        {% if app.session.get('pos') != 23 %}
            <area shape="rect" coords="200,400,400,600" href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}23">
        {% endif %}
        {% if app.session.get('pos') != 33 %}
            <area shape="rect" coords="400,400,600,600" href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}33">
        {% endif %}
        {% if app.session.get('pos') != 43 %}
            <area shape="rect" coords="600,400,800,600" href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}43">
        {% endif %}
        {% if app.session.get('pos') != 53 %}
            <area shape="rect" coords="800,400,1000,600" href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}53">
        {% endif %}
        {% if app.session.get('pos') != 14 %}
            <area shape="rect" coords="0,600,200,800" href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}14">
        {% endif %}
        {% if app.session.get('pos') != 24 %}
            <area shape="rect" coords="200,600,400,800" href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}24">
        {% endif %}
        {% if app.session.get('pos') != 34 %}
            <area shape="rect" coords="400,600,600,800" href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}34">
        {% endif %}
        {% if app.session.get('pos') != 44 %}
            <area shape="rect" coords="600,600,800,800" href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}44">
        {% endif %}
        {% if app.session.get('pos') != 54 %}
            <area shape="rect" coords="800,600,1000,800" href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}54">
        {% endif %}
        {% if app.session.get('pos') != 15 %}
            <area shape="rect" coords="0,800,200,1000" href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}15">
        {% endif %}
        {% if app.session.get('pos') != 25 %}
            <area shape="rect" coords="200,800,400,1000" href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}25">
        {% endif %}
        {% if app.session.get('pos') != 35 %}
            <area shape="rect" coords="400,800,600,1000" href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}35">
        {% endif %}
        {% if app.session.get('pos') != 45 %}
            <area shape="rect" coords="600,800,800,1000" href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}45">
        {% endif %}
        {% if app.session.get('pos') != 55 %}
            <area shape="rect" coords="800,800,1000,1000" href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}55">
        {% endif %}
    </map>
</div>
{% endblock %}

