{% extends 'base.html.twig' %}

{% block title %}Options - Load{% endblock %}

{% block body %}
    <h1>Options - Load</h1>
    <h3>Which username do you wants to load ?</h3></br>
    {% if nosave == true %}
        No save found...</br>
    {% else %}
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    {% endif %}
    <a href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}/..">Back</a></br>
{% endblock %}
