{% extends 'base.html.twig' %}

{% block title %}Options{% endblock %}

{% block body %}
    <h1>Options</h1>
    <a href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}new">New game</a></br>
    <a href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}save">Save</a></br>
    <a href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}load">Load</a></br>
    {% if app.session.get('gameInProgress') == true %}
        <a href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}..">Cancel</a></br>
    {% endif %}
{% endblock %}

