{% extends 'base.html.twig' %}

{% block title %}Options - Save{% endblock %}

{% block body %}
    <h1>Options - Save</h1>
    {% if app.session.get('gameInProgress') == true %}
        Last save: {{ lastSave }}</br>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    {% else %}
        No game to save
    {% endif %}
    <a href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}/..">Back</a></br>
{% endblock %}
