{% extends 'base.html.twig' %}

{% block title %}Options - New{% endblock %}

{% block body %}
    <h1>Options - New</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
    <a href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}/..">Back</a></br>
{% endblock %}

