{% extends 'base.html.twig' %}

{% block body %}
    <table>
        <tr>
            <th>id</th>
            <th>username</th>
            <th>name</th>
            <th>email</th>
            <th>enable</th>
            <th>birthdate</th>
            <th>address</th>
            <th>update</th>
        </tr>
    {% for r in ret %}
        <tr>
            <td>{{ r['id'] }}</td>
            <td>{{ r['username'] }}</td>
            <td>{{ r['name'] }}</td>
            <td>{{ r['email'] }}</td>
            <td>{{ r['enable'] }}</td>
            <td>{{ r['birthdate'] }}</td>
            <td>{{ r['address'] }}</td>
            <td><a href="{{ app.request.attributes.get('_route') }}/../update/{{r['id']}}">X</a></td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}