{% extends 'base.html.twig' %}

{% block body %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
    </br></br>
    <a href="{{ path('ex06_default_index')}}">Back</a>
    {% if msg %}
        <b>{{ msg }}</b></br></br>
    {% endif %}
{% endblock %}